*{
    margin: 0;
    padding: 0;
}

html {
    width: 95.5%; /*To prevent horizontal scroll bar*/

}


/* Body */
body{
    background-color: #F4F1DE;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Header */
.header{
    height: 50px;
    width: 95.5%;
    background-color: #F2CC8F;

    position: fixed;
    top: 0;
    left: 0;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-left: 30px;
    padding-right: 30px;

    z-index: 1000; /*stays above content*/
}

.header-left{
    display: flex;
    align-items: center;
    gap: 5px;
}

.logo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.brand-text{
    background-color: #81B29A;
    color: #000;

    padding: 6px 12px; /*top-bottom | left-right*/
    border-radius: 10px;
    
    
    font-size: 18px;
    font-weight: bold;

}


.header-right a{
    margin-left: 20px;
    text-decoration: none;
    color: black;

    font-size: 17px;
    font-weight: bold;

    background-color: #81B29A;
    padding: 6px 12px;
    border-radius: 10px;
    display: inline-block;

    transition: transform 0.5s ease, background-color 0.2 ease;
    
}

.header-right a:hover{
    background-color: hsl(151, 24%, 50%);
    transform: scale(1.1) translateY(-1px);
}



/* Main Content */
.main-content{
    flex: 1;
    padding: 40px;
}

/* Footer */
.footer{
    height:50px;
    width: 95.5%;
    background-color: #F2CC8F;

    position: fixed;
    bottom: 0;
    left: 0;
    
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-left: 30px;
    padding-right: 30px;

    z-index: 999; /*stays above content*/
}

.creatormark{
    font-size: 15px;
    color: #3D405B;
}

footer a{
    text-decoration: none;
    color: black;

    font-size: 20px;
    font-weight: bold;

    background-color: #81B29A;
    padding: 6px 12px;
    border-radius: 10px;
    display: inline-block;

    transition: transform 0.5s ease, background-color 0.2 ease;
    
}

.footer a:hover{
    background-color: hsl(151, 24%, 50%);
    transform: scale(1.1) translateY(-1px);
}
