.project-content{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 70px 40px; /* leave space for fixed header*/
}

/* Match other stacks */
.stack-project {
    background-color: hsl(37, 79%, 85%);
    box-shadow: 0 4px 12px rgb(0,0,0,0.15);
    padding: 20px 10px;
    border-radius: 12px;
    width: 90%;
    margin: 10px 40px 10px 40px;
}

/* Title */
.stackh2 {
    margin-left: 20px;
    margin-bottom: 25px;
    font-size: 30px;
    text-align: center;
    color:#3D405B;
}

/* Project Layout */
.project-display {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    align-items: flex-start;
    margin: 10px 40px;
}
/* Text Section */
.project-text{
    flex: 1 1 400px;
    padding-right: 20px;
}

.project-text h3{
     margin-bottom: 10px;
    color: #3D405B;
    font-size: 23px;
    margin-left: 20px;
}

.project-text p{
    margin-bottom: 15px;
    font-size: 20px;
    margin-left: 20px;
    text-align: justify;
}

.project-text ul{
    padding-left: 50px;
    text-align: justify;
}

.project-text li {
    margin-bottom: 8px;
    font-size: 20px;
}
.project-video{
    position: relative;
    max-width: 900px;
    margin: 30px auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.project-gallery-video{
    width: 100%;
    height: 500px;
    border-radius: 12px;
    transition: transform 0.3s;
    box-shadow: 0 6px 18px rgba(0,0,0,0.15);
    cursor: pointer;
    position: relative;
    z-index: 1;
}

.project-gallery{
    position: relative;
    max-width: 900px;
    margin: 30px auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.project-gallery-img{
    width: 100%;
    border-radius: 12px;
    transition: transform 0.3s;
    box-shadow: 0 6px 18px rgba(0,0,0,0.15);
    cursor: pointer;
    position: relative;
    z-index: 1;
    
}

.project-gallery img:hover{
    transform: scale(1.02);
}

.project-gallery button{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);    
    background: #3D405B;
    color: white;
    border: none;
    font-size: 1.5rem;
    padding: 8px 14px;
    cursor: pointer;
    border-radius: 50%;
    transition: background 0.3s;
    z-index: 2;
    opacity: 0.8;
}

.project-gallery button:hover{
    background: rgba(0,0,0,0.5);
}

.project-gallery .prev{
    left: 10px;
}

.project-gallery .next{
    right: 10px;
}

.github-link{
    position: relative;
    max-width: 900px;
    margin: 30px auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.github-link a {
    font-size: 20px;
    font-weight: 700;
    color: #3D405B;
}
/* Navigation */
.project-navigation {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    gap: 15px;
}

.nav-btn {
    background-color: #81B29A;
    border: none;
    padding: 8px 14px;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.2s ease, background-color 0.2s ease;
}

.nav-btn:hover {
    transform: scale(1.1);
}

.nav-btn.active {
    background-color: #3D405B;
    color: white;
}
/* Fullscreen Lightbox */

.lightbox {
    display: none;
    position: fixed;
    z-index: 100;
    inset: 0;
    background: rgba(0,0,0,0.9);
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.lightbox img{
    max-width: 100%;
    max-height:100%;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(255,255,255,0.2);
}

.lightbox .close{
    position: absolute;
    top: 0px;
    right: 0px;
    color: white;
    font-size: 40px;
    margin-top: 0;
    cursor: pointer;
}

.lightbox-prev, .lightbox-next {
    position: absolute;
    top: 50%;
    color: white;
    background: rgba(0,0,0,0.5);
    border: none;
    font-size: 2.5rem;
    cursor: pointer;
    padding: 10px 18px;
    border-radius: 50%;
    transform: translateY(-50%);
}

.lightbox-prev:hover, .lightbox-next:hover {
    background: rgba(0,0,0,0.3);
}

.lightbox-prev {left: 5px;}
.lightbox-next {right: 5px;}